<section id="about-us" class="section about">
  <div class="container about">
    <ul class="image-wrapper">
      <li class="about-gallery">
        <picture>
          <source srcset="./images/about-us/about-us-img1@1x.jpg 1x , ./images/about-us/about-us-img1@2x.jpg 2x"
            media="(max-width:1279px)">
          <source srcset="./images/about-us/about-us-desktop1@1x.jpg 1x , ./images/about-us/about-us-desktop1@2x.jpg 2x"
            media="(min-width: 1280px)">
          <img class="img about " src="./images/about-us/about-us-img1@1x.jpg " alt="стрижка бороды ">
        </picture>
      </li>
      <li class="about-gallery">
        <picture>
          <source srcset="./images/about-us/about-us-img2@1x.jpg 1x , ./images/about-us/about-us-img2@2x.jpg 2x"
            media="(max-width:1279px)">
          <source srcset="./images/about-us/about-us-desktop2@1x.jpg 1x , ./images/about-us/about-us-desktop2@2x.jpg 2x"
            media="(min-width: 1280px)">
          <img class="img about " src="./images/about-us/about-us-img2@1x.jpg " alt="стрижка бороды ">
        </picture>
      </li>
    </ul>
    <div class="about-block">
      <p class="section-description about">О НАС</p>
      <h2 class="section-title about">Лучший Барбершоп <br> твоего города</h2>
      <p class="about-desc">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к нам.
      </p>
      <p class="about-text">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет перемен. И когда ты попадешь в руки
        нашего мастера, то уже никогда не сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной волне".
        Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам приходит!
      </p>
      <form action="#name">
        <button class="button button--white">онлайн-запись</button>
      </form>
    </div>
  </div>
</section>