<section class="hero">
  <div class="container container-hero">
    <div class="hero-aside">
      <ul class="hero-social-list">
        <li class="hero-social-item">
          <a href="https://www.instagram.com" class="hero-social-link" target="_blank">Instagram</a>
        </li>
        <li class="hero-social-item">
          <a href="https://www.youtube.com" class="hero-social-link" target="_blank">Youtube</a>
        </li>
      </ul>
    </div>

    <div class="hero-main-content">
      <p class="section-description">A hair salon for men in Kyiv</p>
      <h1 class="hero-title">BarberShop</h1>
      <p class="hero-subtitle">
        Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со вкусом.
      </p>
    </div>

    <ul class="slider-button-list">
      <li class="slider-button-item">
        <button class="slider-btn slider-btn--left">Назад</button>
      </li>

      <li class="slider-button-item">
        <button class="slider-btn slider-btn--right">Вперёд</button>
      </li>
    </ul>

    <ul class="dots">
      <li class="active dot">
        <button type="button" class="dot-part"></button>
      </li>
      <li class="dot">
        <button type="button" class="dot-part"></button>
      </li>
      <li class="dot">
        <button type="button" class="dot-part"></button>
      </li>
    </ul>
  </div>
</section>