<section id="masters" class="section master-section">
  <div class="container master-container">
    <div class="section-description-box">
      <p class="section-description">для настоящих ценителей атмосферы</p>
      <h2 class="section-title masters-title">Наши мастера</h2>
    </div>
    <ul class="cards">
      <li class="cards-item cards-item-size">
        <div class="wrap masters-wrap">

          <picture>
            <source srcset="./images/our-master/our-masters-tel1@1x.jpg 1х, 
                                          ./images/our-master/our-masters-tel1@2x.jpg 2x" media="(max-width: 767px)" />
            <source srcset="./images/our-master/our-masters-tab1@1x.jpg 1х, 
                                          ./images/our-master/our-masters-tab1@2x.jpg 2x"
              media="(max-width: 1279px)" />
            <source srcset="./images/our-master/our-masters-img1@1x.jpg 1х, 
                                          ./images/our-master/our-masters-img1@2x.jpg 2x"
              media="(min-width: 1280px)" />
            <img src="./images/our-master/our-masters-tel1@1x.jpg" alt="Фото мастера" class="img-wrapper img">
          </picture>
        </div>
        <div class="master-information">
          <h3 class="master-name">John Smith</h3>
          <p class="master-specialist">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-link">
              <a href="https://www.instagram.com/?hl=ru" target="_blank" aria-label="Instagram" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://twitter.com/explore" target="_blank" aria-label="Twitter" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://ru.linkedin.com/" target="_blank" aria-label="Linkedin" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="cards-item cards-item-size">
        <div class="wrap masters-wrap">
          <picture>
            <source srcset="./images/our-master/our-masters-tel2@1x.jpg 1х, 
                                                    ./images/our-master/our-masters-tel2@2x.jpg 2x"
              media="(max-width: 767px)" />
            <source srcset="./images/our-master/our-masters-tab2@1x.jpg 1х, 
                                                    ./images/our-master/our-masters-tab2@2x.jpg 2x"
              media="(max-width: 1279px)" />
            <source srcset="./images/our-master/our-masters-img2@1x.jpg 1х, 
                                                    ./images/our-master/our-masters-img2@2x.jpg 2x"
              media="(min-width: 1280px)" />
            <img src="./images/our-master/our-masters-tel2@1x.jpg" alt="Фото мастера" class="img-wrapper img">
          </picture>
        </div>
        <div class="master-information">
          <h3 class="master-name">Michele Doe</h3>
          <p class="master-specialist">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-link">
              <a href="https://www.instagram.com/?hl=ru" target="_blank" aria-label="Instagram" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://twitter.com/explore" target="_blank" aria-label="Twitter" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://ru.linkedin.com/" target="_blank" aria-label="Linkedin" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="cards-item cards-item-size">
        <div class="wrap masters-wrap">
          <picture>
            <source srcset="./images/our-master/our-masters-tel3@1x.jpg 1х, 
                                ./images/our-master/our-masters-tel3@2x.jpg 2x" media="(max-width: 767px)" />
            <source srcset="./images/our-master/our-masters-tab3@1x.jpg 1х, 
                                ./images/our-master/our-masters-tab3@2x.jpg 2x" media="(max-width: 1279px)" />
            <source srcset="./images/our-master/our-masters-img3@1x.jpg 1х, 
                                ./images/our-master/our-masters-img3@2x.jpg 2x" media="(min-width: 1280px)" />
            <img src="./images/our-master/our-masters-tel3@1x.jpg" alt="Фото мастера" class="img-wrapper img">
          </picture>
        </div>
        <div class="master-information">
          <h3 class="master-name">Alan Black</h3>
          <p class="master-specialist">Extreme Barber</p>
          <ul class="social-list">
            <li class="social-link">
              <a href="https://www.instagram.com/?hl=ru" target="_blank" aria-label="Instagram" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://twitter.com/explore" target="_blank" aria-label="Twitter" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social-link">
              <a href="https://ru.linkedin.com/" target="_blank" aria-label="Linkedin" class="link">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>