
<div class="backdrop is-hidden" data-modal>


    <div class="backdrop-row">

        <div class="modal">

            <button class="close-modal-button " type="submit" data-modal-close >

        <svg class="close-icon" width="11" height="11">

            <use href="./images/sprite.svg#menu-icon-close"> </use>

        </svg>

            </button>


            <form class="form" autocomplete="off">

        <p class="modal-text">Оставьте свои данные, мы вам перезвоним</p>


        <div role="group">

            <div class="form-field">

                <input type="text" name="user-name" id="name" class="form-input" placeholder=" ">
                <label for="name" class="label-title"> Имя </label>

                <svg class="modal-svg" width="18" height="18">

                    <!-- <use href="./images/symb.svg#icon-person-modal"> </use> -->

                </svg>

            </div>

            <div class="form-field">

                <input type="tel" name="user-telefone" id="tel" class="form-input" placeholder=" ">
                <label for="tel" class="label-title"> Телефон </label>
                <svg class="modal-svg" width="18" height="18">

                    <!-- <use href="./images/symb.svg#icon-phone-modal"> </use> -->

                </svg>

            </div>

            <div class="form-field">

                <input type="email" name="user-email" id="email" class="form-input" placeholder=" ">
                <label for="email" class="label-title"> Почта </label>
                <svg class="modal-svg" width="18" height="18">

                    <!-- <use href="./images/symb.svg#icon-email-modal"> </use> -->

                </svg>

            </div>

            <div class="form-field">


                <textarea class="comment" name="comment" id="comment" rows="10" placeholder=" "></textarea>
                <label for="comment" class="comment-label"> Комментарий </label>

            </div>


            <div class="checkbox-container">



                <label class="check-box-text">

                    <input class="checkbox" type="checkbox" name="" value="check" name="Policy" value="Policy">

                    <span class="checkbox-icon"> </span>


                    <span> Соглашаюсь с рассылкой и принимаю <a href=""> Условия договора </a> </span>

                </label>



            </div>

        </div>

        <button class="button modal-button" data-modal-close> Отправить </button>

            </form>


        </div>

    </div>

</div>