.dots {
  position: absolute;
  top: 50%;
  right: 40px;

  transform: translateY(-50%);

  text-align: right;

  @media screen and( max-width: 767px) {
    display: none;
  }
}

.dot {
  line-height: 0;
}

.dot:not(:last-of-type) {
  margin-bottom: 12px;
}

.dot-part {
  width: 8px;
  height: 2px;
  margin: 0px;
  padding: 0px;

  background: $secondary-grey-color;
  border: none;
}

.dots .active .dot-part {
  background-color: #fff;
  width: 18px;
}
