.slider-btn {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0px;
  border: none;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: right;
  letter-spacing: 0.1em;
  cursor: pointer;
  color: $white-text-color;

  background-color: transparent;
}

.slider-button-list {
  position: absolute;
  bottom: 40px;
  right: 40px;

  display: flex;
  align-items: flex-end;
  margin-left: auto;

  @media screen and( max-width: 767px) {
    display: none;
  }
}

.slider-button-item {
  position: relative;

  display: flex;
  width: 60px;

  &:nth-child(2n) {
    justify-content: flex-end;
  }

  &:not(:last-child) {
    margin-right: 26px;
  }
}

.slider-button-item .slider-btn--left {
  text-align: left;
  color: $header-price-text;
}

.slider-btn--right {
  text-align: right;
}

.slider-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: inline-block;
  width: 60px;
  height: 1px;
  background-color: #fff;
}

.slider-btn.slider-btn--left::after {
  background: $header-price-text;
}
