// Текст на секции героя, первій текст О нас, преимущества,
.text-main {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: $main-text-color;
}

.text-secondary {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.text-price {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;

  @media screen and (max-width: 400px) {
    font-size: 10px;
    line-height: 1.67;
  }

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.67;
  }
}