.master-section {
  background: $section-bgc;
}

// .section-description-box {
//   margin-bottom: 20px;
//   max-width: 450px;
//   margin-left: auto;
//   margin-right: auto;

//   @media screen and (min-width: $desktop) {
//     max-width: 100%;
//   }
// }

.section-description.black-color {
  color: $black-text-color;
}

.masters-title {
  margin-bottom: 44px;
}

.masters-wrap {
  height: 346px;
  width: 100%;
}

.master-name {
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;

  color: $black-text-color;
}

.master-specialist {
  margin-top: 0px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.02em;
}

.master-information {
  // text-align: center;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;

  color: $accent-color;
}

// .masters-img {
//   width: 418px;

//   @media screen and (min-width: $tablet) and (max-width: calc(#{$desktop} - 1px)) {
//     width: 450px;
//   }

//   @media screen and (min-width: $desktop) {
//     width: 370px;
//   }
// }